<div>
    <a href="/">Still procrastinating?</a>
    <br><br>
</div>

<h4>
    <a href="https://chicago.suntimes.com/{url}}">{{heading}}</a>
</h4>

<p>
    <br><br>
    {{description}}
</p>
<p class="date">{{date}}</p>

<hr>
<form class="form" action="/news/{{_id}}/comments" method="POST">
    <div class="form-group">
        <label for="newComment">Comments? Questions?:</label>
        <textarea name="text" id="newComment" class="form-control" Let us know what you think!...></textarea>
    </div>
    <input type="submit" value="Comment" class="btn btn-submit">
</form>

<br>
<h4>{{comments.length}} Your thoughts?</h4>
{{#each comments}}
    <div class="comment">
        <p class="date">{{date}}</p>
        <button class="btn btn-danger" style="float: right" onclick="deleteComment('{{../_id}}', '{{_id}}')">Nevermind.</button>
        <p>{{text}}</p>
    </div>
{{/each}}