<div class="card-columns">

    {{#each news}}

        <div class="card border-dark">

            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://chicago.suntimes.com/{{url}}">
                        {{headline}}
                    </a>
                </h5>
                <p class="card-text">{{description}}</p>
                <p class="date">{{date}}</p>
                <a href="/news/{{_id}}">{{comments.length}} Comments</a>
            </div>

        </div>

    {{else}}

        <div class="card">

            <div class="card-body">
                <h5 class="card-title">No news might not be good news? Hit the SCRAPE button!</h5>
            </div>
        </div>

    {{/each}}
    
</div>
